{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-alias",
      [
        { "src": "./components/lib", "expose": "lib" },
        { "src": "./utils/styles", "expose": "styles" }
      ]
    ]
  ]
}
