$gray: rgba(0,0,0,0.4);
$gray-light: rgba(0,0,0,0.15);
$gray-lighter: rgba(0,0,0,0.09);
$gray-lightest: rgba(0,0,0,0.02);

$text-primary: #3AAED8;
$text-primary-hover: #3394bb;
$text-primary-active: #3188ae;
$link-visited: #B68CB8;
$text-black: #13262F;
$text-dark: #255766;
$text-gray: rgba(19, 38, 47, 0.6);
$text-gray-light: rgba(19, 38, 47, 0.4);

$dotted-border-style: dotted 2px $text-primary;
$transition-all: all .2s ease-in-out;

$table-border-inset: 2px;

$responsive-width: 770px;
