.tiles {
  @include make-row();
}

.tile-wrapper {
  @include make-md-column(6);
  @include make-sm-column(6);
  padding: 5px;

  //&:nth-child(3) {
  //  @include make-md-column-offset(3);
  //  @include make-sm-column-offset(3);
  //}

  &:hover, &.open {
    .tile-pad {
      .tile {
        @include scale(1.03);
      }
      .overlay {
        @include opacity(1);
        @include scale(1.03);

        h3 {
          @include opacity(1);
        }
      }

      .overlay:after {
        @include box-shadow(0 0 5px 3px $gray);
      }
    }
  }

  &.open {
    z-index: 999;
    .tile-pad {
      .tile, .overlay {
        @include scale(1.2);
      }

      .overlay {
        background-color: $text-gray;
        padding-top: 50px;

        h3 {
          @include opacity(0);
        }

        p {
          @include opacity(1);
        }
      }
    }
  }

  .tile-pad {
    padding: 4px 8px;
    border: $dashed-border-style;
    height: 312px;
    cursor: pointer;

    .overlay {
      position: absolute;
      left: 15px;
      top: 11px;
      right: 15px;
      bottom: 11px;
      border-radius: 5px;
      background-color: $gray-light;
      text-shadow: 0 0 3px black;
      text-align: center;
      padding-top: 130px;
      @include transition($transition-all);
      opacity: 0;

      &:after {
        content: " ";
        @include transition($transition-all);
        @include box-shadow(0 0 0 0 $gray);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 5px;
      }

      h3 {
        @include transition($transition-all);
        color: white;
        font-size: 2rem;
        opacity: 0;
      }

      .body-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1rem 2rem;
        display: table;
        height: 300px;
      }

      .body {
        @include transition($transition-all);
        color: white;
        margin-top: 0;
        opacity: 0;
        display: table-cell;
        vertical-align: middle;
      }
    }

    .tile {
      height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 25%;
      border-radius: 5px;
      @include transition($transition-all);
    }
  }
}

