.resume-section {
  blockquote {
    padding-top: 0;
    text-align: center;
  }
}

div.rotating-divider {
  height: 1px;
  width: 100%!important;
  border-top: $dotted-border-style;
  border-left: none;
  margin: 10px 0;
}

@media (min-width: 840px) {
  .resume {
    width: 840px;
    margin: 0 auto;
  }

  .middle-section {
    display: flex;
  }

  .side-panel {
    max-width: 320px;
  }

  div.rotating-divider {
    height: auto;
    width: 1px!important;
    margin: 0 15px;
    border-left: $dotted-border-style;
    border-top: none;
  }
}
.resume {
  aside, div, table, section {
    width: 100%;
  }

  div.horizontal-divider {
    height: 1px;
    border-top: $dotted-border-style;
    margin: 10px 0;
  }

  .section-header {
    &:not(:last-child) {
      padding-bottom: 0.5rem;
    }
    td {
      vertical-align: top;
      font-size: 0.8rem;
      a {
        font-size: 0.8rem;
      }
    }
    tr:first-child {
      td {
        font-size: 1rem;
      }

      > td:first-child {
        font-weight: bold;
      }
    }
    tr > td:first-child {
      text-align: left;
    }
    tr > td:last-child {
      text-align: right;
    }
  }

  .ranked-table {
    &:not(&:last-child) {
      padding-bottom: 0.5rem;
    }
    td {
      font-size: 0.9rem;
      padding: 0;
    }
    tr > td:first-child {
      text-align: left;
    }
    tr > td:last-child {
      text-align: right;
      color: $text-primary;

      &.single-column {
        color: $text-black;
        text-align: center;
        font-size: 0.8rem;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 5px;
      }
    }
  }

  .experience {
    .section-header {
      padding-bottom: 0;
      td {
        font-size: 0.858rem;
      }
      tr:first-child {
        td {
          font-size: 1rem;
        }
      }
    }
    p {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  h2 {
    color: $text-primary;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 0 0 0 $table-border-inset;
    margin-bottom: 8px;
  }

  p {
    padding: $table-border-inset;
    margin: 0;
  }

  hr {
    margin: 10px auto;
  }
}
