html {
  padding: 1rem 0;
}

body {
  max-width: 1060px;
  margin: 0 auto;
}

nav ul {
  margin-top: 1.5rem;

  li {
    width: 8rem;
    text-align: center;
    margin: 0;

    &:hover > a, .active {
      color: $text-primary;
      background-color: $gray-lightest;
    }

    a {
      padding: 1rem 0;
      text-decoration: none;
    }
  }
}

.collapsing ul, [aria-expanded="true"] ul {
  margin-top: 0;

  li {
    width: 18rem;
    border-bottom: $dotted-border-style;
    padding: 1rem 0;
    margin: 0 auto;

    &:last-child {
      border-bottom: none;
    }
  }
}

.body {
  margin: 1rem auto;
}

footer {
  font-size: 0.8rem;
  font-style: italic;
}

textarea {
  @include make-md-column(8);
  @include make-xs-column(10);
  @include center-block();
  float: none !important;
  height: 1.7rem;
  border-radius: 5px;
  border: dashed 2px $text-primary;
  resize: none;

  &:focus {
    outline: none;
  }
}

.demo {
  @include make-row();

  .output {
    margin-top: 1rem;
  }

  .html-output {
    @include make-md-column(4);
  }

  .clean-html {
    @include make-md-column(4);
  }

  .clean-output-wrapper {
    @include make-md-column(4);

    .clean-output {
      max-height: 10rem;
      overflow: scroll;
      border-radius: 5px;
      box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.3);
      padding: 0.75rem 0.75rem;
      margin: 0.5rem auto;
    }
  }
}

.project-heading {
  text-align: center;

  h3 {
    margin-bottom: 0;
    line-height: 1;
  }

  h6 {
    display: inline-block;
    padding-right: 0.5rem;
    margin-bottom: 0;
    font-style: italic;
  }

  span {
    font-style: italic;
  }
}

.badge {
  position: relative;
  top: 5px;
}

.inline-block {
  display: inline-block;
}

.right {
  float: right;
}

.copyright {
  font-size: 0.8rem;
  padding-top: 8px;
  display: inline-block;
}

.profile-links {
  a {
    display: inline-flex;
    &.github:before {
      border-radius: 50%;
    }
    &:before {
      content: '';
      z-index: 1;
      background-color: $text-primary;
      width: 30px;
      height: 30px;
      position: relative;
      border-radius: 6px;
      left: 30px;
      opacity: 0;
      @include transition(opacity .2s ease-in-out);
    }
    img {
      z-index: 2;
      max-width: 30px;
      max-height: 30px;
    }
  }

  a:hover:before {
    opacity: 0.7;
  }
}

@media (max-width: $responsive-width) {
  .copyright, .profile-links {
    display: block;
    text-align: center;
    float: none;
  }

  .profile-links {
    padding-right: 30px;
  }
}
.contact-form {
  @include make-xs-column(10);
  @include make-sm-column(8);
  @include make-md-column(6);
  @include center-block();
  float: none!important;

  input {
    color: $text-black;
  }

  textarea {
    resize: vertical;
    min-height: 10rem;
    color: $text-black;
  }

  button ~ strong span {
    margin-left: 10px;
  }
}

#required-label {
  @include transition(color 0.2s ease-in-out);
}

.error {
  color: $dark-red;
}
