@import "constants.scss";

/* ===== */
/* FONTS */
/* ===== */
* {
  font-family: "Oxygen", Arial, Helvetica, sans-serif;
  letter-spacing: 0.02rem;
  font-size: 0.95rem;
  color: $text-black;
}

pre, code {
  font-family: "Oxygen Mono", Monaco, monospace;
  letter-spacing: 0;
  color: $text-black;
  font-size: 0.85rem;
}

/* ============= */
/* HEADER STYLES */
/* ============= */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: $text-black;
}

h1 {
  color: $text-primary;
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
}

h6 {
  font-size: 0.95rem;
  margin-bottom: 0.75rem;
}

/* ============= */
/* INLINE STYLES */
/* ============= */
p {
  line-height: 1.6
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

code {
  margin: 0 0.1rem;
  padding: 0 0.2rem;
  background-color: rgba(128, 131, 219, 0.42)
}

/* =========== */
/* LIST STYLES */
/* =========== */
ul li:first-child, ol li:first-child {
  margin-top: 1.5rem;
}

ul li:last-child, ol li:last-child {
  margin-bottom: 1.5rem;
}

ul > ul li:first-child, ol > ol li:first-child {
  margin-top: 0.75rem;
}

ul > ul li:last-child, ol > ol li:last-child {
  margin-bottom: 0.75rem;
}

li {
  margin-bottom: 0.5rem;
}

/* ============ */
/* BLOCK STYLES */
/* ============ */
blockquote {
  padding: 1rem 0.5rem;
  color: $text-gray;
  font-style: italic;
  font-size: 1.05rem;
  line-height: 1.7;
}

pre {
  background-color: rgba(128, 131, 219, 0.42);
  padding: 0.75rem 0.75rem;
  margin: 0.5rem auto;
  max-width: 750px;
  max-height: 10rem;
  overflow-x: scroll;
  border-radius: 5px;
  box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.3);
}

textarea {
  border-color: $text-gray-light;
  color: $text-black;
}
